@font-face {
  font-family: "iconfont"; /* Project id 3269812 */
  src: url('iconfont.woff2?t=1649063213653') format('woff2'),
       url('iconfont.woff?t=1649063213653') format('woff'),
       url('iconfont.ttf?t=1649063213653') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-24gf-pauseCircle:before {
  content: "\ea81";
}

.icon-shangyishou1:before {
  content: "\e63c";
}

.icon-xiayishou1:before {
  content: "\e63e";
}

.icon-fenxiang:before {
  content: "\e7c5";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-24gl-play:before {
  content: "\ea6d";
}

.icon-tianjia:before {
  content: "\e600";
}

.icon-24gf-playCircle:before {
  content: "\ea82";
}

.icon-tingge:before {
  content: "\e718";
}

.icon-shangyiyehoutuifanhui:before {
  content: "\e8ef";
}

.icon-mv-fill:before {
  content: "\e727";
}

.icon-zanting:before {
  content: "\e638";
}

.icon-xihuan:before {
  content: "\e761";
}

.icon-caidan:before {
  content: "\e790";
}

.icon-guanbi:before {
  content: "\e659";
}

.icon-pinglun:before {
  content: "\e6ad";
}

.icon-zuixiaohua:before {
  content: "\e624";
}

.icon-xiayiyeqianjinchakangengduo:before {
  content: "\e8f1";
}

.icon-yinliang:before {
  content: "\e87a";
}

.icon-gengduo:before {
  content: "\e8a6";
}

.icon-houtui:before {
  content: "\e710";
}

.icon-restore:before {
  content: "\e673";
}

.icon-xiazai_o:before {
  content: "\eb9d";
}

.icon-shipinbofangshibofang:before {
  content: "\e62b";
}

.icon-shangyishou:before {
  content: "\e603";
}

.icon-xiayishou:before {
  content: "\e602";
}

.icon-pifu:before {
  content: "\e62c";
}

.icon-shunxubofang:before {
  content: "\e6a1";
}

.icon-tuijian:before {
  content: "\e60f";
}

.icon-shipin:before {
  content: "\eafb";
}

.icon-qqyinle:before {
  content: "\e634";
}

.icon-QQyinle-:before {
  content: "\e62f";
}

.icon-diantai:before {
  content: "\e693";
}

.icon-yinleguan:before {
  content: "\e694";
}

